body {
  font-family:'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGot', sans-serif;
  margin: 2em;
}

/* box */
.title {
  padding: 3em 3em 3em 2em;
  margin-bottom: 1em;
  
  color: white;
  background: black;
}

.contents {
}

.introduction {
  margin-bottom: 4em;
}

.nested-point-1 {
  margin-bottom: 4em;
}

.nested-introduction {
  margin-bottom: 2em;
}

.nested-point-2 {
  margin-bottom: 3em;
}

/* text */
.heading-of-title {
  margin-top: -0.1em;
  margin-bottom: 0em;

  font-size: 2em;
}

.heading-of-introduction {
  margin-top: -0.1em;
  margin-bottom: 0em;

  font-size: 1.5em;
}

.heading-of-nested-point-1 {
  margin-top: -0.1em;
  margin-bottom: 0em;

  font-size: 1.5em;
}

.heading-of-nested-point-2 {
  margin-top: -0.1em;
  margin-bottom: 0em;

  font-size: 1.2em;
}

p {
  margin-top: -0.1em;
  margin-bottom: 0.5em;
  line-height: 1.7em;
}

/* list */
.unordered-list {
  padding-left: 2em;
  margin: 0em;
}

.list {
  margin-top: 0em;
  margin-bottom: 0.5em;

  list-style-type: none;
}
.list::before {
  position: relative;
  top: -0.2em;
  left: -0.2em;

  display: inline-block;

  width: 0.2em;
  height: 0.2em;

  content: '';

  border-radius: 100%;
  background: black;
}

/* table  */
.table {
  margin-bottom: 0.5em;

  border-collapse: collapse;
}

.table-header {
  padding: 0.5em 1.5em;

  text-align: left;

  color: white;
  background: black;
}
 
.table-data {
  padding: 0.5em 1.5em;
  border-bottom: 0.1em solid black;
}


/* code */
