body {
  font-family:'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGot', sans-serif;
  margin: 2em;
}

/* text */
h1 {
  font-weight: normal;
  margin: 2em 0 1em 0;
}

h2 {
  font-weight: normal;
  margin: 3em 0 1em 0;
}

h3 {
  font-weight: normal;
  margin: 2em 0 0.5em 0;
}

p {
  line-height: 1.7em;
}

li.list {
  margin: 1em 0 1em 0;;
}
/* table  */
table {
  border-collapse: collapse;
}

th {
  background: #eee;
}

th, td {
  padding: 0.5em;
  border-bottom: 1px solid #ddd;
}


/* code */
