body {
  font-family:'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGot', sans-serif;
  margin: 2em;
}

p {
  line-height: 1.7em;
}

h2 {
  margin: 3em 0 1em 0 ;
}

h3 {
  margin: 2em 0 0.75em 0 ;
}

h4 {
  margin: 1em 0 0.5em 0 ;
}
  
